.Button {
  margin-bottom: 5px;
}
.list {
  height: 300px;
  overflow: auto;
}
.item {
  border-bottom: 1px solid black;
  background-color: white;
}
.button {
  display: block;
  background-color: #1890ff;
  width: 47px;
  height: 34px;
  border-radius: 2px;
  margin-bottom: 5px;
}
.button span {
  box-sizing: border-box;
  width: 32px;
  padding-left: 10px;
  color: white;
  align-items: center;
}
